	<section class="portfolio">
	        <div class="container">     
                <div class="row"> 
                    <div class="col-lg-12">
                            <h2 class="section-heading-area">My Lastest Work</h2>
                                <hr class="primary">	
                    </div>
                </div>
                <div class="row text-center">			
                        <div class="col-md-4 col-sm-6 port">
                            <a href="#"><img src="img/website-demo1.jpg" class="img-responsive"></a>
                        <h3>Super Nova</h3>
                        </div>
                        <div class="col-md-4 col-sm-6 port">
                            <a href="#"><img src="img/website-demo2.jpg" class="img-responsive"></a>
                        <h3>Interior Design</h3>
                        </div>
                            <div class="col-md-4 col-sm-6 port">
                            <a href="#"><img src="img/website-demo3.jpg" class="img-responsive"></a>
                        <h3>Insurances</h3>
                        </div> 
                                <div class="col-md-4 col-sm-6 port">
                            <a href="#"><img src="img/website-demo4.jpg" class="img-responsive"></a>
                        <h3>logos</h3>
                        </div>
                                <div class="col-md-4 col-sm-6 port">
                            <a href="#"><img src="img/website-demo5.jpg" class="img-responsive"></a>
                        <h3>Marketing</h3>
                        </div>
                                <div class="col-md-4 col-sm-6 port">
                            <a href="#"><img src="img/website-demo6.jpg" class="img-responsive"></a>
                            <h3>Tomorrow</h3>
                        </div>				
                </div>
            </div>
   			
	</section>