 
	 <section class="bg-primary" id="about">
	          <div class="container text-center">
                <h2 class="section-heading">We Got What U need!</h2>
                <hr class="light">
                <p class="text-faded">Start Today We make beautiful,online-stores that increase sales, 
                improve operations and grow your business.experience, we know how to built 
                like the back of our hand — we're the best in the business.</p>
                <a href="" class="page-scroll btn btn-default sr-button">Lets Get Started</a>
                      
	          </div>
	 </section>
	 <section class="Awesome-features">
	    <div class="container text-center">
          <div class="row">
                  <div class="col-lg-12">
                            <h2>Awesome <strong>features</strong></h2>
                      <hr>
                  </div>
          </div>
          <div class="row text-center">				
                    <div class="col-lg-4 col-sm-6 font">
                        <i class="fa fa-image fa-4x"></i>
                    </div>
                    <div class="col-lg-4 col-sm-6 font">
                        <i class="fa fa-envelope fa-4x"></i>
                    </div>
                    <div class="col-lg-4 col-sm-6 font">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="col-lg-4 col-sm-6 font">
                        <i class="fa fa-crop fa-4x"></i>
                    </div>
                    <div class="col-lg-4 col-sm-6 font">
                        <i class="fa fa-twitter fa-4x"></i>
                    </div>
                    <div class="col-lg-4 col-sm-6 font">
                        <i class="fa fa-flag fa-4x"></i>
                  </div>
          </div>
		  </div>	
	 </section>
	<section id="services">
	    <div class="container">
	        <div class="row text-center">
              <div class="col-lg-12">
                  <h2 class="section-heading-area">At You Services</h2>
                  <hr class="primary">
              </div>
	        </div>
          <div class="row text-center">
              <div class="col-md-3 col-sm-6">
                      <div class="services-box">
                          <i class="fa fa-diamond fa-4x text-primary"></i>
                            <h3>Web Design</h3>	
                            <p class="text-muted">Our templates are updated regularly.</p>				
                      </div>
              </div>	
              <div class="col-md-3 col-sm-6">
                    <div class="services-box">
                        <i class="fa fa-paper-plane text-primary fa-4x"></i>
                            <h3>SEO</h3>		
                            <p class="text-muted">We build every website with SEO in mind.</p>					
                    </div>
              </div>			
              <div class="col-md-3 col-sm-6">
                  <div class="services-box">
                          <i class="fa fa-newspaper-o text-primary fa-4x"></i>
                            <h3>Social Media</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                  </div>				
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="services-box">
                          <i class="fa fa-heart text-primary fa-4x"></i>
                            <h3>Made With love</h3>
                            <p class="text-muted">We make your websites with love these days!</p>					
                  </div>
              </div>		
		      </div>
      </div>    
      <app-values class="text-center"></app-values>
	</section>

	
	<div id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <h3>Get Newsletter Update</h3>
                </div>
                <div class="col-md-6 col-sm-4 col-xs-12">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="Enter your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-envelope"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
  </div>
	<div id="partner">
	    <div class="container">
		      <div class="row">
              <div class="col-md-12">
                  <h2>Our Partnership</h2>
              </div>
	        </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="jcarousel-wrapper">
                        <div class="jcarousel">
                            <ul>
                              <li><img src="assets/images/partner1.jpg"></li>
                              <li><img src="assets/images/partner2.jpg"></li>
                              <li><img src="assets/images/partner3.jpg"></li>
                              <li><img src="assets/images/partner4.png"></li>
                              <li><img src="assets/images/partner5.jpg"></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>
	    </div>
	</div>
	<section id="location">
	    <div class="container">
	      <div class="row">
                <div class="col-lg-12">
                    <h2>Location</h2>
                  <hr>
                </div>				
	      </div>
			  <div class="row">
				    <div class="col-lg-12">
					    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224444.70495248452!2d-81.50883827574293!3d28.48109711612237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e773d8fecdbc77%3A0xac3b2063ca5bf9e!2sOrlando%2C+FL!5e0!3m2!1sen!2sus!4v1490497825484" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
	      </div>
	    </div>
	</section>
	<footer>
	    <p>Copyright &copy.All Rights Reserved. 
           Website design by UxDesign</p> 
	</footer>

